body{
    padding: 5px;
    margin: 5px;
    background-image: url(bg.png);
    /* max-width: 496px;
    min-height: 415px; */
    
}
@media(min-width:250px) and (max-width:1440px) {
    #Heading{
        font-family:"Arial, Helvetica, sans-serif";
        padding-left:10px;
        padding-top:10px;
        font-size:20px;
        color:rgb(8, 7, 8)
    }
}

@media(min-width:250px) and (max-width:1440px){
    .date-time{
        font-size:15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding-left:5px;
        color:rgba(223, 216, 216, 0.949);
    }
}

i {
    background-color: white;
    border-radius: 100%;
    border: 1px solid grey;
    padding: 10px;
    background-image:"bg.jpg";
  }

hr{
    background-color: #2F4F4F;  
    height: 2px;  
    border: none;  
}
@media (min-width:250px) and (max-width:1440px) {
    .dot-all{

        display:flex;
        /* padding:100px; */
        justify-content:space-evenly;
        align-items: center;
        /* column-gap:20px; */
    }
}    


@media (min-width:50px) and (max-width:1440px) {
    .dot{
        height: 50px;
        width: 50px;
        background-color: #bbb;
        border-radius: 100%;
        display: inline-block;
        font-weight: bold;           
    }
}

@media (min-width: 50px) and (max-width: 1440px){
    .dot img {
        object-fit:cover;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        
    } 
}

#dot1{


    width: 50px;
    background-color: burlywood;
    border-radius: 100%;
    display: inline-block;
    /* padding: unset; */
    text-align: center;
    /* margin: auto; */
    /* height: fit-content;      */
}


.sub-heading{
    display:flex;
    justify-content:center;
    font-size:1.6rem;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(6, 6, 6)

}

.h2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (min-width:50px) and (max-width:1440px) {
    .teams1{
        display:flex;
        column-gap:200px;
        font-weight:bold;
        font-family:sans-serif;
        font-size: 17px;
        color: rgb(255, 255, 255);

    }
}

@media (min-width:50px) and (max-width:1440px) {
    .teams2{
        display:flex;
        column-gap:200px;
        font-weight:bold;
        font-family:sans-serif;
        font-size: 17px;
        color: rgb(255, 255, 255);
    }
}
/* .rectangle {
    width: 25px;
    height: 35px;
    background-color: #808080;
    } */
/* .side-symbol{
    display:flex;
    column-gap:1200px;
} */

@media (min-width: 250px) and (max-width: 1440px){
    .button {
        display: flex;
        column-gap: 520px;
        /* box-shadow: 5px 5px 5px rgb(0 0 0 / 70%); */
        /* background-color: rgba(185, 176, 205, 0.7); */
        flex-wrap: wrap;
        justify-content:left;
        flex-direction: row;
    }
}


.full-scorecard{
    width:max-content ;
    height: 40px;
    padding: 10px 16px;
    font-size: 14px;
    box-shadow:5px 5px 5px rgb(0 0 0 / 70%) ;
    text-align: centre;
    font-weight: bold;
    background-color: rgb(238, 255, 0);
}
.full-scorecard:hover{
    background-color: rgb(188, 200, 28);

}


  #real{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: auto;
    max-width: 111vw;
    gap: 50px;
    min-width: max-content;
    /* background-image: url(bg.png); */
    
}
#btn{
    background-color: DodgerBlue;
    border: none; 
    color: white; 
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer; 

}
#btn:hover{
    background-color: RoyalBlue;
}
